div.grid {
    width: 600px;
    height: 600px;
    margin: 0 auto;
    background-color: #fefefe;
    color: rgb(20, 148, 254);
    border: 6px solid #1382f0;
    border-radius: 10px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}
